modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Batch Scrape TLDs"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Keep Alive"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Batch Scrape TLDs"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node scripts/batch-scrape.mjs --type iana --concurrency 4 --delay 1500"

[[workflows.workflow]]
name = "Keep Alive"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node scripts/keep-alive.mjs"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
SUPABASE_URL = "https://zyhyufxaccjvmkbyivxz.supabase.co"
RESEND_FROM_EMAIL = "noreply@x.rw"
NEXT_PUBLIC_APP_URL = "https://x.rw"
NEXTAUTH_SECRET = "VFaSVQitYZ7y5YUwexHx7T4SHIbZZUU4TqWAzPQ6ApU="
VERCEL_PROJECT_ID = "prj_iUBe5v2wht9SYe1SuFKyj0vMgyLR"
WHOIS_TIMEOUT_MS = "10000"
NEXT_PUBLIC_MAX_WHOIS_FOLLOW = "0"
NEXT_PUBLIC_HISTORY_LIMIT = "-1"
xrw_REDIS_URL = "redis://default:drgo7Irzi03cQ5wlH63hQmVQGQT1IG27@redis-19038.crce214.us-east-1-3.ec2.cloud.redislabs.com:19038"
wr_KV_REST_API_TOKEN = "gQAAAAAAATAnAAIncDFhODg5ZWI5YzJjN2E0MTAwYjU1MjI3NzU0YjZjOTJiMnAxNzc4NjM"
wr_KV_REST_API_URL = "https://better-bee-77863.upstash.io"
wr_REDIS_URL = "rediss://default:gQAAAAAAATAnAAIncDFhODg5ZWI5YzJjN2E0MTAwYjU1MjI3NzU0YjZjOTJiMnAxNzc4NjM@better-bee-77863.upstash.io:6379"
wr_KV_URL = "rediss://default:gQAAAAAAATAnAAIncDFhODg5ZWI5YzJjN2E0MTAwYjU1MjI3NzU0YjZjOTJiMnAxNzc4NjM@better-bee-77863.upstash.io:6379"
CRON_SECRET = "302371553dae896e9cf2435f10b18f06da4288ad63504498868c5db5dfeaa270"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5aHl1ZnhhY2Nqdm1rYnlpdnh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMjAyNDIsImV4cCI6MjA4OTU5NjI0Mn0.RyyaowoKCDn5m3WFeLj7itRNpRaK1mfeK_11NNnBMJ0"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5aHl1ZnhhY2Nqdm1rYnlpdnh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMjAyNDIsImV4cCI6MjA4OTU5NjI0Mn0.RyyaowoKCDn5m3WFeLj7itRNpRaK1mfeK_11NNnBMJ0"
NEXT_PUBLIC_SUPABASE_URL = "https://zyhyufxaccjvmkbyivxz.supabase.co"
VERCEL_API_TOKEN = "vcp_5hmn0w4dezbbuDa63rVHjX37hKdWHiC9ghLZSXj58Vgjg29b6X4PNnwn"
VERCEL_TEAM_ID = "team_jwt3T9B3Dg8JLPoGEjauWPRr"

[userenv.development]
NEXTAUTH_URL = "https://3c867b8f-a45e-4449-aa48-680bd4e403ae-00-89ewzym5zeqp.worf.replit.dev"
NEXT_PUBLIC_BASE_URL = "https://3c867b8f-a45e-4449-aa48-680bd4e403ae-00-89ewzym5zeqp.worf.replit.dev"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]
