modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Keep Alive"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Alert Check"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Keep Alive"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node scripts/keep-alive.mjs"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Alert Check"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node scripts/check-failure-rate.mjs"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
SUPABASE_URL = "https://zyhyufxaccjvmkbyivxz.supabase.co"
RESEND_FROM_EMAIL = "noreply@x.rw"
NEXT_PUBLIC_APP_URL = "https://x.rw"
NEXTAUTH_SECRET = "VFaSVQitYZ7y5YUwexHx7T4SHIbZZUU4TqWAzPQ6ApU="
VERCEL_PROJECT_ID = "prj_iUBe5v2wht9SYe1SuFKyj0vMgyLR"
WHOIS_TIMEOUT_MS = "10000"
NEXT_PUBLIC_MAX_WHOIS_FOLLOW = "0"
NEXT_PUBLIC_HISTORY_LIMIT = "-1"
CRON_SECRET = "302371553dae896e9cf2435f10b18f06da4288ad63504498868c5db5dfeaa270"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5aHl1ZnhhY2Nqdm1rYnlpdnh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMjAyNDIsImV4cCI6MjA4OTU5NjI0Mn0.RyyaowoKCDn5m3WFeLj7itRNpRaK1mfeK_11NNnBMJ0"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5aHl1ZnhhY2Nqdm1rYnlpdnh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMjAyNDIsImV4cCI6MjA4OTU5NjI0Mn0.RyyaowoKCDn5m3WFeLj7itRNpRaK1mfeK_11NNnBMJ0"
NEXT_PUBLIC_SUPABASE_URL = "https://zyhyufxaccjvmkbyivxz.supabase.co"
VERCEL_TEAM_ID = "team_jwt3T9B3Dg8JLPoGEjauWPRr"

[userenv.development]
NEXTAUTH_URL = "https://88581982-1823-4790-b07c-abca09faa164-00-2ojcwl8lrvf7g.riker.replit.dev"
NEXT_PUBLIC_BASE_URL = "https://88581982-1823-4790-b07c-abca09faa164-00-2ojcwl8lrvf7g.riker.replit.dev"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]
